// _utilities.scss
@use 'variables' as variables;

.container {
  width: 100%;
  max-width: variables.$container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: variables.$container-padding;
  padding-right: variables.$container-padding;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.fw-bold {
  font-weight: 700;
}
.fw-semibold {
  font-weight: 600;
}
.fw-medium {
  font-weight: 500;
}
.fw-normal {
  font-weight: 400;
}

.hidden {
  display: none !important;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: variables.$space-1;
}
.gap-2 {
  gap: variables.$space-2;
}
.gap-3 {
  gap: variables.$space-3;
}
.gap-4 {
  gap: variables.$space-4;
}
.gap-5 {
  gap: variables.$space-5;
}
